<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DisplayBooksServlet</servlet-name>
        <servlet-class>libary.DisplayBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchForBook</servlet-name>
        <servlet-class>libary.SearchForBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>libary.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBook</servlet-name>
        <servlet-class>libary.addBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayBooksServlet</servlet-name>
        <url-pattern>/DisplayBooksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchForBook</servlet-name>
        <url-pattern>/SearchForBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBook</servlet-name>
        <url-pattern>/addBook</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
